body {
  padding-left: 25%;
  padding-right: 25%;
  padding-top:10px;
  font-size: 16px;
  font-family: 'Muli', sans-serif, Helvetica;
  line-height: 1.4
}


@media screen and (max-width: 1000px){
  body{
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media screen and (max-width: 765px){
  body{
    padding-left: 5%;
    padding-right: 5%;
  }
}

#home {
  text-decoration:none;
  background-color:white;
  padding: 5px;
  color: black;
  font-size: 70px;
  font-family: 'Ostrich Sans Inline';
}

@font-face {
  font-family: 'Ostrich Sans Inline';
  src: url('ostrich-sans-inline-regular.eot');
  font-weight: normal;
  font-style: normal;
}

#navigation {
  text-decoration: none;
  background-color:white;
  padding: 5px;
  color: #7A7A7A;
  font-size: 20px;
  font-family: 'Muli', sans-serif;
  font-weight: normal;
}


<div style="position: relative; background: url(path to image); width: (width)px; height: (height)px;">

<div style="position: absolute; bottom: 0; left: 0.5em; width: 400px; font-weight: bold; color: #fff;">
<p>(text to appear at the bottom left of the image)</p>
</div>

<p style="position: absolute; top: 1em; right: 2em; width: 120px; padding: 4px; background-color: #fff; font-weight: bold; font-size: 11px;">
(text to appear at the top right of the image)
</p>

</div>

footer {
  padding-top: 20px;
}

img {
  width: 100%;
}

hr {
  border: 0;
  background: #000;
  height: 1px;
}

a {
  color:#CC0000;
  text-decorationtion:none;
}

a:hover {
  color:#009966;
  text-decoration:none;
}